<!doctype html>
<html lang="en">
  <head>
  	<title>CCC Team66</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href= "{{ url_for('static',filename='nav/css/style.css') }}">
	  <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='table/css/util.css') }}">
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='table/css/main.css') }}">
  </head>
  <body>

		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Toggle Menu</span>
	        </button>
        </div>
	  		<h1><a href="/" class="logo">CCC Project</a></h1>
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="/"><span class="fa fa-home mr-3"></span> Homepage</a>
          </li>
          <li>
              <a href="map"><span class="fa fa-user mr-3"></span> Map</a>
          </li>
          <li>
            <a href="part1"><span class="fa fa-sticky-note mr-3"></span> Part1</a>
          </li>
          <li>
            <a href="part2"><span class="fa fa-sticky-note mr-3"></span> Part2</a>
          </li>
          <li>
            <a href="part3"><span class="fa fa-paper-plane mr-3"></span> Part3</a>
          </li>
          <li>
            <a href="aboutus"><span class="fa fa-paper-plane mr-3"></span> About Us</a>
          </li>
        </ul>

    	</nav>

        <!-- Page Content  -->
      <div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
					<div class="table">
					<h1> About Team 66 </h1>
						<div class="row header">
							<div class="cell">
								Student Name
							</div>
							<div class="cell">
								Student ID
							</div>
							<div class="cell">
								Student Email
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Student Name">
								Ziyang Zhang
							</div>
							<div class="cell" data-title="Student ID">
								1139552
							</div>
							<div class="cell" data-title="Student Email">
								ziyanzhang2@student.unimelb.edu.au
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Student Name">
								Yanjun Ma
							</div>
							<div class="cell" data-title="Student ID">
								1184516
							</div>
							<div class="cell" data-title="Student Email">
								yanjunm1@student.unimelb.edu.au
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Student Name">
								Tianyi Zheng
							</div>
							<div class="cell" data-title="Student ID">
								1024493
							</div>
							<div class="cell" data-title="Student Email">
								zhetz@student.unimelb.edu.au
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Student Name">
								Yining Ding
							</div>
							<div class="cell" data-title="Student ID">
								874213
							</div>
							<div class="cell" data-title="Student Email">
								yiningd2@student.unimelb.edu.au
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Student Name">
								Zixin Zhang
							</div>
							<div class="cell" data-title="Student ID">
								1087336
							</div>
							<div class="cell" data-title="Student Email">
								zixinzhang1@student.unimelb.edu.au
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
			</div>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  <!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>
  </body>
</html>