<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawStuff);

      function drawStuff() {
        var data = new google.visualization.arrayToDataTable([
          ['Loacation', '2021', '2017'],
          ['Melbourne', 100, 80],
          ['Sydney', 1000, 400],
          ['Perth', 200, 500],
        ]);

        var options = {
          width: 800,
          chart: {
            title: 'CCC Bar Chart',
            subtitle: 'subtitle'
          },
          bars: 'horizontal', // Required for Material Bar Charts.
          series: {
            0: { axis: '2021' }, // Bind series 0 to an axis named 'distance'.
            1: { axis: '2017' } // Bind series 1 to an axis named 'brightness'.
          },
          axes: {
            x: {
              2021: {label: 'parsecs'}, // Bottom x-axis.
              2017: {side: 'top', label: 'apparent magnitude'} // Top x-axis.
            }
          }
        };

      var chart = new google.charts.Bar(document.getElementById('dual_x_div'));
      chart.draw(data, options);
    };
    </script>
  </head>
  <body>
    <div id="dual_x_div" style="width: 900px; height: 500px;"></div>
  </body>
</html>