<!doctype html>
<html lang="en">
  <head>
  	<title>CCC Team66</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href= "{{ url_for('static',filename='nav/css/style.css') }}">
  </head>
  <body>

		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Toggle Menu</span>
	        </button>
        </div>
	  		<h1><a href="/" class="logo">CCC Project</a></h1>
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="/"><span class="fa fa-home mr-3"></span> Homepage</a>
          </li>
          <li>
              <a href="map"><span class="fa fa-user mr-3"></span> Map</a>
          </li>
          <li>
            <a href="part1"><span class="fa fa-sticky-note mr-3"></span> Part1</a>
          </li>
          <li>
            <a href="part2"><span class="fa fa-sticky-note mr-3"></span> Part2</a>
          </li>
          <li>
            <a href="part3"><span class="fa fa-paper-plane mr-3"></span> Part3</a>
          </li>
          <li>
            <a href="aboutus"><span class="fa fa-paper-plane mr-3"></span> About Us</a>
          </li>
        </ul>

    	</nav>

        <!-- Page Content  -->
            <div id="content" class="p-md-5 pt-5">
        <h2 class="mb-4">Part2</h2>
        <p>Des for part2</p>
        <div id="piechart" style="width: 900px; height: 500px;"></div>

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

        <script type="text/javascript">

        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
           var data = google.visualization.arrayToDataTable([
            ['Location', 'Count'],
            ['Melbourne', 100],
            ['Sydney', 1000],
            ['Perth', 200],
        ]);
            var options = {'title':'CCC Project', 'width':550, 'height':400};
            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
        }
        </script>
		</div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script type="text/javascript">
  </body>
</html>