<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    <!-- 引入 echarts.js 这里使用flask的url_for-->
    <script src="{{ url_for('static', filename='echarts.min.js') }}"></script>
</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <h1>Bar</h1>
    <div id="bar" style="width: 600px;height:400px;"></div>
    <h1>Pie</h1>
    <div id="pie" style="width: 600px;height:400px;"></div>
    <script type="text/javascript">
        var barChart = echarts.init(document.getElementById('bar'));
        var pieChart = echarts.init(document.getElementById('pie'));

        barChart.setOption({{ bar_options | safe }});
        pieChart.setOption({{ pie_options | safe }});
    </script>
</body>
</html>
